<div class="container-fluid container-my">

	<div class="Forgot-password-div">

		<form ng-submit="vm.submit()" name="form" novalidate>
			<formly-form model="vm.model" fields="vm.fields" form="form" options="vm.options">
				<button type="submit" class="btn btn-primary btn-forgot submit-button"
						ng-disabled="form.$invalid">Submit
				</button>
			</formly-form>
		</form>
		<a class="login-page-form" ui-sref="^.login"> <i class="glyphicon glyphicon-arrow-left"></i><span
				translate="BACK_LOGIN"></span></a>
	</div>

	<script type="text/ng-template" id="error-messages.html">
		<formly-transclude></formly-transclude>
		<div ng-messages="fc.$error" ng-if="form.$submitted || options.formControl.$touched" class="error-messages">
			<div ng-message="{{ ::name }}" ng-repeat="(name, message) in ::options.validation.messages" class="message">
				{{ message(fc.$viewValue, fc.$modelValue, this)}}
			</div>
		</div>

	</script>

</div>