<div class="container">
	<div class="row form-list">
		<button class="pull-right btn btn-success" ng-click="vm.onGoTemplates()"><i class="glyphicon glyphicon-plus"></i></button>
		<div ng-show="vm.myForms.length == 0" class="alert alert-info" role="alert"><h5 class="noData_msg">You dont have
			any forms</h5></div>
		<div   ui-list-view="forms in vm.myForms" options="listOptions">

			<div class=" pull-right btn-group btn-group-xs delete_myForm">
				<button class="btn btn-danger  btn-small" ng-click="vm.onRemove(forms.id)" ng-if="!(forms.type=='PAID')"><i class="glyphicon glyphicon-trash"></i></button>
				<button style="float: right" class="btn btn-small" ng-click="vm.onAddTask(forms)"><span translate="+TASK"></span></button>
			</div>

			<p class=" col-md-3"><label class="control-label "><span translate="NUMBER"></span>: </label>{{forms.templateDto.number}}
			</p>

			<p class=" col-md-3"><label class="control-label "><span translate="NAME"></span>: </label>{{forms.templateDto.name}}
			</p>

			<p class=" col-md-3"><label class="control-label "><span translate="DESCR"></span>: </label>{{forms.templateDto.descr}}
			</p>

			<p class=" col-md-1"><label class="control-label "><span></span> </label>{{forms.type}}
			</p>
		</div>

	</div>
</div>