<div class="ui-list-view">
	<uib-tabset>

		<uib-tab ng-click="vm.onRefreshNew();" index="0" heading="New">
			<section ng-if="vm.user.type === 'patient'">
				<div class="container ui-list-view">
					<table class="table table-hover">
						<thead>
						<tr>
							<th translate="DATE"></th>
							<th translate="NUMBER"></th>
							<th translate="NAME"></th>
							<th translate="DESCRIPTION"></th>
						</tr>
						</thead>
						<tbody>
						<tr ng-click="vm.onClickNew(form.id)" ng-repeat="form in vm.list track by $index">
							<td>{{vm.convertDateTime(form.date)}}</td>
							<td>{{form.template.number}}</td>
							<td>{{form.template.name}}</td>
							<td>{{form.template.descr}}</td>
						</tr>
						</tbody>
					</table>
					<div ng-show="vm.list.length == 0" class="alert alert-info" role="alert"><h5 class="noData_msg">You
						dont have any tasks</h5></div>
				</div>
			</section>
			<section ng-if="vm.user.type === 'doctor'">
				<div class="container ui-list-view">
					<table class="table table-hover header-fixed3">
						<thead>
						<tr>
							<th translate="DATE"></th>
							<th translate="NUMBER"></th>
							<th translate="PATIENT_NAME"></th>
							<th translate="FORM_TASKS"></th>
							<th translate="DESCRIPTION"></th>
							<th translate="ACTION" ng-if="vm.hideAdminTasks;"></th>
						</tr>
						</thead>

						<tbody>
						<tr ng-click="vm.onClickNew(form.id)" ng-repeat="form in vm.list track by $index">
							<td>{{vm.convertDate(form.date)}}</td>
							<td>{{form.template.number}}</td>
							<td>{{form.patient.username}}</td>
							<td>{{form.template.name}}</td>
							<td>{{form.template.descr}}</td>
							<td ng-if="vm.hideAdminTasks;">
								<div class="btn-group btn-group-xs">
									<button style="float: right" class="btn btn-success btn-small"
											ng-click="vm.onAssignTask(form.id, vm.stafs, $event)"><span
											translate="ASSIGN"></span></button>
								</div>
							</td>
						</tr>
						</tbody>

					</table>
					<div ng-show="vm.list.length == 0" class="alert alert-info" role="alert"><h5 class="noData_msg">You
						dont have any tasks</h5></div>
				</div>
			</section>

		</uib-tab>

		<uib-tab ng-click="vm.onRefreshAdminTasks();" index="1" heading="Stuff" ng-if="vm.hideAdminTasks;">
			<section >
				<div class="container ui-list-view">
					<div ng-show="vm.stafs.length == 0" class=""> <h5 class="noData_msg"> You don't have any stuff</h5></div>

					<uib-accordion>
						<uib-accordion-group ng-repeat="staf in vm.stafs"  is-open="staf.status.open">

							<uib-accordion-heading>
								<div ng-click="vm.onOpenStaff(staf.id)">
									<i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': staf.status.open, 'glyphicon-chevron-right': !staf.status.open}"></i>
									<label class="control-label"><span translate="NAME"></span>:</label>{{staf.firstName}} {{staf.lastName}}
									<label class="control-label"><span translate="BIRTH_DATE"></span>:</label>{{vm.convertDate(staf.birth)}}
									<label class="control-label"><span translate="PHONE"></span>:</label>{{staf.phone}}
								</div>
							</uib-accordion-heading>

							<uib-accordion>
								<uib-accordion-group ng-repeat="item in vm.tasks" is-open="item.status.open">

									<uib-accordion-heading>
										<i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': item.status.open, 'glyphicon-chevron-right': !item.status.open}"></i>
										<label class="control-label"><span translate="NAME"></span>:</label>{{item.name}}
									</uib-accordion-heading>

									<div ng-repeat="hist in item.events" style="border-top: 1px solid #ddd;">
										<button style="float: right" class="btn btn-success" ng-click="vm.onClose(item, hist)"><span translate="CLOSE_TASK"></span></button>
										<button style="float: right" class="btn btn-info" ng-click="vm.onEdit(hist.id, patient.id)"><span translate="EDIT"></span></button>

										<p><label class="col-sm-3 control-label"><span translate="DATE"></span>: </label>{{vm.convertDateTime(hist.date)}}</p>
										<p><label class="col-sm-3 control-label"><span translate="FROM"></span>: </label>{{hist.fromUser.username || '(none)'}}</p>
										<p><label class="col-sm-3 control-label"><span translate="NAME"></span>: </label>{{hist.template.name}}</p>
										<p><label class="col-sm-3 control-label"><span translate="STATUS"></span>: </label>{{hist.status}}</p>
									</div>

								</uib-accordion-group>
							</uib-accordion>

							<div ng-if="vm.tasks.length==0" class="text-center">
								<span><h4><span translate="NO_DATA"></span></h4></span>
							</div>

						</uib-accordion-group>
					</uib-accordion>

				</div>
			</section>
		</uib-tab>


		<uib-tab ng-click="vm.onRefreshHistory();" index="2" heading="History">

			<section ng-if="vm.user.type === 'patient'">
				<div class="container ui-list-view">

					<table class="table table-hover">
						<thead>
						<tr>
							<th translate="DATE"></th>
							<th translate="NUMBER"></th>
							<th translate="NAME"></th>
							<th translate="DESCRIPTION"></th>
							<th translate="ACTION"></th>
						</tr>
						</thead>

						<tbody>
						<tr ng-repeat="form in vm.history track by $index">
							<td>{{vm.convertDateTime(form.date)}}</td>
							<td>{{form.template.number}}</td>
							<td>{{form.template.name}}</td>
							<td>{{form.template.descr}}</td>
							<td>
								<div class="btn-group btn-group-xs">
									<button style="float: right" class="btn btn-success btn-small"
											ng-click="vm.onSendHistory(form.template, form)"><span
											translate="SEND"></span></button>
									<button style="float: right" class="btn btn-info btn-small"
											ng-click="vm.onViewHistory(form.id, form.patient.id)"><span
											translate="VIEW"></span></button>
									<button style="float: right" class="btn btn-info btn-small"
											ng-click="vm.onCopyHistory(form, form.patient.id)"><span
											translate="COPY_TASK"></span></button>
								</div>
							</td>
						</tr>
						</tbody>
					</table>
					<div ng-show="vm.history.length == 0" class="alert alert-info" role="alert"><h5 class="noData_msg">
						You dont have history</h5></div>
				</div>
			</section>
			<section ng-if="vm.user.type === 'doctor'">
				<div class="container ui-list-view">
					<table class="table table-hover header-fixed3">
						<thead>
						<tr>
							<th translate="DATE"></th>
							<th translate="NUMBER"></th>
							<th translate="PATIENT_NAME"></th>
							<th translate="FORM_TASKS"></th>
							<th translate="DESCRIPTION"></th>
							<th translate="ACTION"></th>
						</tr>
						</thead>

						<tbody>
						<tr ng-click="vm.onClick(form.id)" ng-repeat="form in vm.history track by $index">
							<td>{{vm.convertDateTime(form.date)}}</td>
							<td>{{form.template.number}}</td>
							<td>{{form.patient.username}}</td>
							<td>{{form.template.name}}</td>
							<td>{{form.template.descr}}</td>
							<td>
								<div class="btn-group btn-group-xs">
									<button style="float: right" class="btn btn-success btn-small"
											ng-click="vm.onSendHistory(form.template, form)"><span
											translate="SEND"></span></button>
									<button style="float: right" class="btn btn-info btn-small"
											ng-click="vm.onViewHistory(form.id, form.patient.id)"><span
											translate="VIEW"></span></button>
									<button style="float: right" class="btn btn-info btn-small"
											ng-click="vm.onCopyHistory(form, form.patient.id)"><span
											translate="COPY_TASK"></span></button>
								</div>
							</td>
						</tr>
						</tbody>

					</table>
					<div ng-show="vm.history.length == 0" class="alert alert-info" role="alert"><h5 class="noData_msg">
						You dont have history</h5></div>
				</div>
			</section>

		</uib-tab>

	</uib-tabset>
</div>