<div class="container lists">

	<ui-select ng-model="doctor.selected" ng-change="vm.onSetSelect(doctor.selected)" search-enabled="true" reset-search-input="true" autofocus="true">
		<ui-select-match placeholder="Select or search a doctors in the list..." >
			<span ng-bind="$select.selected.name+' &nbsp'+$select.selected.city+' &nbsp'+$select.selected.tel"></span>
		</ui-select-match>
		<ui-select-choices repeat="doc in vm.getDoctors($select.search)">
			<div ng-bind="doc.name"></div>
			<div ng-bind="doc.city"></div>
			<small ng-bind="doc.tel"></small>
		</ui-select-choices>
	</ui-select>

	<button type="submit" class="btn btn-default" ng-click="vm.onApply()">Apply</button>

</div>


<label class="col-sm-3 control-label">{{ doctor.length}}</label>

	<ul class="row form-list" ui-list-view="ref in vm.references | filter:vm.searchref" options="listOptions">

		<li e-form="textBtnForm" editable-text="ref.name" class="col-md-3 col-sm-3 col-xs-3">Name:<h4>{{ref.name}}</h4></li>
		<li e-form="textBtnForm" editable-text="ref.type" class="col-md-3 col-sm-3 col-xs-3">Type:<h4>{{ref.type}}</h4></li>
		<li e-form="textBtnForm" editable-text="ref.phone" class="col-md-3 col-sm-3 col-xs-3">Phone:<h5>{{ref.phone}}</h5></li>

		<div class="buttons" ng-show="!textBtnForm.$visible">
			<button class="btn btn-danger red" ng-click="vm.remove($index, ref.id)"><i class="glyphicon glyphicon-trash"></i></button>
		</div>

	</ul>
	<button class="btn btn-info green" ng-click="vm.addFormList()">Add</button>

</div>