<div class="container edit_form">
	<div class="pad"></div>

	<form ng-submit="vm.onSubmit()" name="vm.form" novalidate >

		<div class="form-group">
			<label>Select section</label>
			<select class="form-control"  ng-model="" ng-options=""></select>
		</div>

		<uib-tabset>
			<uib-tab ng-repeat="(key, value) in vm.sectionsName track by $index" heading="{{value}}" active="tab.active" disable="tab.disabled">
				<div class="tab-content">
					<div class="tab-pane active" id="#{{key}}">

						<!--<pre>Model: {{vm.model | json}}</pre>-->
						<!--<pre>Fields: {{vm.sections[key][value] | json}}</pre>-->

						<formly-form model="vm.model[key][value]" fields="vm.sections[key][value]" options=vm.options[key][value] form="vm.form" track-by="$index">
						</formly-form>

					</div>
				</div>
			</uib-tab>
		</uib-tabset>
		<button type="submit" class="btn btn-primary submit-button" ng-disabled="vm.form.$invalid">Submit</button>
	</form>


	<div class="pad"></div>


</div>
<script type="text/ng-template" id="error-messages.html">
	<formly-transclude></formly-transclude>
	<div ng-messages="fc.$error" ng-if="form.$submitted || options.formControl.$touched" class="error-messages">
		<div ng-message="{{ ::name }}" ng-repeat="(name, message) in ::options.validation.messages"
			 class="message">{{ message(fc.$viewValue, fc.$modelValue, this)}}
		</div>
	</div>
</script>
