<div id="header">Header</div>
<div class="container">



	<div>

		<!-- Nav tabs -->
		<ul class="nav nav-tabs tabs_control" role="tablist">
			<li role="presentation"><a ui-sref="main.private.dashboard.forms"  aria-controls="home" role="tab" data-toggle="tab">Forms</a></li>
			<li role="presentation"><a ui-sref="main.private.dashboard.notifications" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Notifications</a></li>
			<li role="presentation"><a ui-sref="main.private.dashboard.ref" href="#messages" aria-controls="messages" role="tab" data-toggle="tab">References</a></li>
			<li role="presentation"><a ui-sref="main.private.dashboard.taks"  aria-controls="settings" role="tab" data-toggle="tab">Tasks</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="home" ui-view="forms"></div>

		</div>

	</div>

</div>
<div id="footer">
	Footer
</div>