<div class="conrainer">
	<div class="row ui-list-view">
		<div class="input-group msg_container col-md-6  col-xs-6 col-lg-6">

			<h3 style="text-align: center"><span translate="FORM"></span> {{vm.name}}</h3>


			<div class="msg_form col-md-12 col-sm-12 col-lg-12 ">


				<label class="control-label"><span translate="TO_DOCTOR"></span></label>
					<ui-select ng-model="doctor.selected" ng-change="vm.message.toUser = doctor.selected.id"
							   theme="bootstrap">

						<ui-select-match placeholder="{{'SEARCH_REFS' | translate}}">
							{{$select.selected.name + '&nbsp (' + $select.selected.email + ')'}}

						</ui-select-match>

						<ui-select-choices
								repeat="doc in (vm.getDoctors($select.search) | filter: $select.search) track by doc.id">
							<div ng-bind="doc.name"></div>
							<small ng-bind="doc.email"></small>
						</ui-select-choices>

					</ui-select>

				<form name="myform" class="notif" action="">
					<!--<label class="control-label"><span translate="TITLE"></span></label>-->
					<!--<input type="text" ng-model="vm.message.title" placeholder="{{'TITLE_NOTIF' | translate}}"-->
						   <!--class="form-control"-->
						   <!--aria-describedby="basic-addon2">-->

				<textarea ng-model="vm.message.message" placeholder="{{'MESSAGE_TEXT' | translate}}"
						  rows="5"></textarea>
					<button style="float: right" class="btn btn-default" type="button"
							ng-disabled="!(!!vm.message.message && !!vm.message.toUser)"
							ng-click="vm.send()"><span translate="SEND"></span>
					</button>
				</form>

			</div>

		</div>
	</div>
</div>