<div class="container">
	<div class="row ui-list-view">
		<div class="input-group msg_container col-md-6 col-md-offset-3">
			<pre>{{vm.message | json}}</pre>
<h1>Massage</h1>
		<div class="msg_form col-md-10 col-md-offset-1">

		<ui-select class="col-md-10 col-md-offset-1"  ng-model="doctor.selected" ng-change="vm.doc=doctor.selected">
			<ui-select-match placeholder="Select or search a doctors in the list...">{{$select.selected.name+'
				&nbsp'+$select.selected.city+' &nbsp'+$select.selected.tel}}
			</ui-select-match>
			<ui-select-choices repeat="doc in vm.getDoctors($select.search) | filter: $select.search">
				<div ng-bind="doc.name"></div>
				<div ng-bind="doc.city"></div>
				<small ng-bind="doc.tel"></small>
			</ui-select-choices>
		</ui-select>

			<ui-select class= "col-md-10 col-md-offset-1 form_select"  ng-model="forms.selected" ng-change="vm.form = forms.selected">
				<ui-select-match placeholder="Select or search a form in the list...">Number:{{$select.selected.id+ '&nbsp'}}

					 Name:{{$select.selected.name}}
				</ui-select-match>
				<ui-select-choices repeat="form in vm.getForms($select.search) | filter: $select.search">
					<div ng-bind="form.id"></div>
					<div ng-bind="form.name"></div>
				</ui-select-choices>
			</ui-select>



			<form name="myform"  class="col-md-10 col-md-offset-1 notif" action="" >

				<input type="text" class="form-control" placeholder="notification title"
					   aria-describedby="basic-addon2" ng-model="vm.title">
				<textarea ng-model="vm.text" placeholder="message text..." class="" name="" id=""  rows="5"></textarea>
				<!--<span ng-show="!myform.vm.title.$error.required">Please enter something!</span>-->
				<!--<span ng-show="!myform.vm.title.$error.required">Good boy!</span>-->


        			<button style="float: right" class="btn btn-default" type="button" ng-disabled="!(!!vm.text && !!vm.title && !!vm.doc && !!vm.form)" ng-click="vm.send()">Send</button>

			</form>

		</div>
		</div>

	</div>


</div>