<div class="container">

	<p></p><p></p><h4>Filter Notifications:</h4>
	<div class="row">

		<p></p>
		<div class="col-md-8 col-sm-8 col-xs-8">
			<form name="xForm">
				<input type="text"
					   style="height: 35px"
					   class="form-control"
					   placeholder="{{'SEARCH_NOTIF'  | translate}}..."
					   ng-model="vm.temp_"
					   ng-change="vm.onRefreshNotif(vm.temp_);" />
			</form>
		</div>
		<p></p>
		<div class="col-md-3 col-sm-3 col-xs-3 pull-right">
		</div>
	</div>
	<p></p><p></p>

<div class=" row form-list">

	<div ng-show="vm.UnreadNotifications.length == 0" class="alert alert-info" role="alert"><h5 class="noData_msg">You don't have any messages</h5></div>
	<ul class="" ui-list-view="notification in vm.UnreadNotifications | filter:vm.searchnotif" options="listOptions">

		<p class="col-lg-2 col-md-2 col-sm-2"><strong><span translate="FROM"></span>: </strong>{{notification.fromUser.username}}</p>
		<p class="col-lg-2 col-md-2 col-sm-2"><strong><span translate="DATE"></span>: </strong>{{vm.convertDate(notification.date)}}</p>
		<p class="col-md-2 col-sm-2"><strong><span translate="MESSAGE"></span>: </strong>{{notification.descr}}</p>
		<p class="col-md-2 col-sm-2"><strong><span translate="FORM"></span>: </strong>{{notification.template.name}}</p>

		<div class="buttons" ng-show="!textBtnForm.$visible">
			<button style="float: right" class="btn btn-danger red" ng-click="vm.onDecline(notification.id)"><span translate="DECLINE"></span></button>
			<button style="float: right" class="btn btn-success blue" ng-click="vm.onAccept(notification.id)"><span translate="ACCEPT"></span></button>
		</div>
	</ul>

</div>
</div>