<div class="container">
	<div class="row">

		<p></p><p></p>

		<h4>Filter Stuff:</h4>

		<div class="row">

			<p></p>
			<div class="col-md-8 col-sm-8 col-xs-8">
				<form name="xForm">
					<input type="text"
						   style="height: 35px"
						   class="form-control"
						   placeholder="{{'SEARCH_STUFF'  | translate}}..."
						   ng-model="vm.temp_"
						   ng-change="vm.getFindStuffs(vm.temp_);" />
				</form>
			</div>
			<p></p>
			<div class="col-md-3 col-sm-3 col-xs-3 pull-right">
				<button style="margin-right:10px;margin-bottom: 10px;" class="btn btn-success" ng-click="vm.onEdit('add');" ng-show="vm.canEdit;"><i class="glyphicon glyphicon-plus-sign"></i> <span translate="CREATE"></span></button>
			</div>
		</div>

		<p></p><p></p>

		<div class="ui-list-view ">
			<div class="container ui-list-view">
				<table class="table table-hover">
					<thead>
					<tr>
						<th translate="FIRST_NAME"></th>
						<th translate="LAST_NAME"></th>
						<th translate="EMAIL"></th>
						<th translate="PHONE"></th>
					</tr>
					</thead>
					<tbody>
					<tr ng-click="vm.onOpenStuf(staf);"  ng-repeat="staf in vm.stafs track by $index">
						<td>{{staf.firstName}}</td>
						<td>{{staf.lastName}}</td>
						<td>{{staf.email}}</td>
						<td>{{staf.phone}}</td>
					</tr>
					</tbody>
				</table>
				<div ng-show="vm.stafs.length == 0" class="text-center"><h4><span translate="NO_DATA"></span></h4></div>
			</div>
		</div>

	</div>
</div>