<div class="container">
<div class=" row form-list">
	<h3 class="noData_msg" ng-show="vm.UnreadNotifications.length == 0">You don't have any messages</h3>
	<ul class="" ui-list-view="notification in vm.UnreadNotifications | filter:vm.searchnotif" options="listOptions">

		<p class="col-lg-2 col-md-2 col-sm-2"><strong><span translate="FROM"></span>: </strong>{{notification.fromUser.username}}</p>
		<p class="col-lg-2 col-md-2 col-sm-2"><strong><span translate="TITLE"></span>: </strong>{{notification.title}}</p>
		<p class="col-md-2 col-sm-2"><strong><span translate="MESSAGE"></span>: </strong>{{notification.text}}</p>
		<p class="col-md-2 col-sm-2"><strong><span translate="FORM"></span>: </strong></p>

		<div class="buttons" ng-show="!textBtnForm.$visible">
			<button style="float: right" class="btn btn-danger red" ng-click="vm.onDecline(notification.id)"><span translate="DECLINE"></span></button>
			<button style="float: right" class="btn btn-success blue" ng-click="vm.onAccept(notification.id)"><span translate="ACCEPT"></span></button>
		</div>
	</ul>
</div>
</div>