
<div class="container">
	<div class="row">
		<div class="search_content">

			<button type="submit" ng-click="vm.onReturn();" class="btn btn-primary"><i class="glyphicon glyphicon-arrow-left">&nbsp;</i></button>

			<p></p><p></p>
			<h4>Reference info:</h4>
			<p></p><p></p>
			<div class="container ui-list-view">
				<p></p><p></p>
				<p><label class="col-sm-3 control-label"><span translate="NAME"></span>: </label>{{vm.ref.name || ' - '}}</p>
				<p><label class="col-sm-3 control-label"><span translate="FIRST_NAME"></span>: </label>{{vm.ref.firstName || ' - '}}</p>
				<p><label class="col-sm-3 control-label"><span translate="LAST_NAME"></span>: </label>{{vm.ref.lastName || ' - '}}</p>
				<p><label class="col-sm-3 control-label"><span translate="PHONE"></span>: </label>{{vm.ref.phone || '(none)'}}</p>
				<p><label class="col-sm-3 control-label"><span translate="EMAIL"></span>: </label>{{vm.ref.email || '(none)'}}</p>
				<p><label class="col-sm-3 control-label"><span translate="TYPE"></span>: </label>{{vm.ref.type || ' - '}}</p>
				<p></p><p></p>
			</div>
		</div>
	</div>
</div>

