<div class="container">
	<ul class="form-list">
		<p>Add refs</p>

		<form ng-submit="vm.onSubmit()" name="vm.form" novalidate>
			<formly-form model="vm.model" fields="vm.fields" form="vm.form" options="vm.options">
				<button type="submit" class="btn btn_submit btn-default login-button submit-button" ng-disabled="vm.form.$invalid">Registration</button>
			</formly-form>
		</form>

	</ul>
</div>

<script type="text/ng-template" id="error-messages.html">
	<formly-transclude></formly-transclude>
	<div ng-messages="fc.$error" ng-if="form.$submitted || options.formControl.$touched" class="error-messages">
		<div ng-message="{{ ::name }}" ng-repeat="(name, message) in ::options.validation.messages" class="message">{{ message(fc.$viewValue, fc.$modelValue, this)}}</div>
	</div>
</script>