<div class="container">

	<div class="form-list" ui-list-view="forms in vm.patientForms" options="listOptions">

		<label class="checkbox-inline"><input type="checkbox" ng-model="forms.active" value=""></label>
			<p><label class="control-label">Number: </label>{{forms.number}}</p>
			<p><label class="control-label">Name: </label>{{forms.name}}</p>
			<p><label class="control-label">Descr: </label>{{forms.descr}}</p>
    </div>

	<div class="pad"></div>
	<button type="button" class="btn btn-primary submit-button" ng-click="vm.save()">Save</button>
</div>