<div class="container lists">


	<ul class="row form-list" ui-list-view="ref in vm.references" options="listOptions">

		<li e-form="textBtnForm" editable-text='ref.name' class="col-md-3 col-sm-3 col-xs-3">Name:<h4>{{ref.name}}</h4></li>
		<li e-form="textBtnForm" editable-text="ref.type" class="col-md-3 col-sm-3 col-xs-3">Type:<h4>{{ref.type}}</h4></li>
		<li e-form="textBtnForm" editable-text="ref.phone" class="col-md-3 col-sm-3 col-xs-3">Phone:<h5>{{ref.phone}}</h5></li>

		<!-- form -->
		<form editable-form name="textBtnForm" onbeforesave="vm.update_or_insert($data, user.id)" ng-show="textBtnForm.$visible" class="form-buttons form-inline edit_btn" shown="inserted == ref">
			<button type="submit" ng-disabled="textBtnForm.$waiting" class="btn btn-primary">Save</button>
			<button type="button" ng-disabled="textBtnForm.$waiting" ng-click="textBtnForm.$cancel()" class="btn btn-default">Cancel</button>
		</form>

		<div class="buttons" ng-show="!textBtnForm.$visible">
			<button class="btn btn-danger red" ng-click="vm.remove($index, ref.id)"><i class="glyphicon glyphicon-trash"></i></button>
			<button class="btn btn-primary blue" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible"><i class="glyphicon glyphicon-pencil"></i></button>
		</div>


	</div>
	<button class="btn btn-primary" ng-click="vm.addFormList()">Add</button>
</div>








