
	<div class="row ui-list-view">
		<div class="input-group msg_container ">

		<h1>Massage</h1>

		<div class="msg_form col-md-10 col-sm-8 col-md-offset-1 col-sm-offset-1 ">

		<label class="control-label">To doctor:</label>
		<div class="">
		<ui-select ng-model="doctor.selected" ng-change="vm.message.toUser.id = doctor.selected.id" theme="bootstrap">
			<ui-select-match  placeholder="Select or search a doctors in the list...">{{$select.selected.name + '&nbsp (' + $select.selected.email + ')'}}</ui-select-match>
			<ui-select-choices repeat="doc in (vm.getDoctors($select.search) | filter: $select.search) track by doc.id">
				<div ng-bind="doc.name"></div>
				<small ng-bind="doc.email"></small>
			</ui-select-choices>
		</ui-select>
		</div>

		<label class=" control-label">Send form:</label>
		<div class="">
		<ui-select ng-model="form.selected" ng-change="vm.message.userForm = form.selected.id" theme="bootstrap">
			<ui-select-match placeholder="Select or search a form in the list...">Name: {{$select.selected.blank.name}} Num: {{$select.selected.blank.number}}</ui-select-match>
			<ui-select-choices repeat="forma in (vm.getForms($select.search) | filter: $select.search) track by forma.id">
				<div ng-bind="forma.blank.name"></div>
				<small ng-bind="forma.blank.number"></small>
			</ui-select-choices>
		</ui-select>
		</div>

		<form name="myform" class="notif" action="">
			<label class=" control-label">Title:</label>
			<input type="text" ng-model="vm.message.title" placeholder="Notification title..." class="form-control" aria-describedby="basic-addon2">

			<textarea ng-model="vm.message.text" placeholder="Message text..." class="" name="" id="" rows="5"></textarea>
   			<button style="float: right" class="btn btn-default" type="button" ng-disabled="!(!!vm.message.title && !!vm.message.text && !!vm.message.toUser.id && !!vm.message.userForm)" ng-click="vm.send()">Send</button>
		</form>

		</div>

		</div>
	</div>
