<div class="container">
	<div class="row">
		<p></p><p></p>
		<p></p><p></p>
		<p></p><p></p>

		<div class="ui-list-view ">
			<div class="container ui-list-view">
				<table class="table table-hover">
					<thead>
					<tr>
						<th translate="NAME"></th>
						<th translate="DATE"></th>
						<th translate="ACTION"></th>
					</tr>
					</thead>
					<tbody>
					<tr ng-click=""  ng-repeat="draft in vm.list.rows track by $index">
						<td>{{draft.doc.draftName}}</td>
						<td>{{vm.convertDateTime(draft.doc._id)}}</td>
						<td>
							<div class="btn-group btn-group-xs">
								<button style="margin-top: 10px;" class="btn btn-danger red green" ng-click="vm.onDelete(draft.doc._id)">x</button>

								<button style="margin-top: 10px;" class="btn btn-danger red green" ng-click="vm.onSend(draft)">
								<i class="glyphicon glyphicon-envelope"></i>
								</button>
								<button style="margin-top: 10px;" class="btn btn-danger green" ng-click="vm.onEdit(draft.doc._id)">
								<i class="glyphicon glyphicon-pencil"></i>
								</button>
							</div>
						</td>
					</tr>
					</tbody>
				</table>
				<div ng-show="vm.list.rows.length == 0" class="text-center"><h4><span translate="NO_DATA"></span></h4></div>
			</div>
		</div>

	</div>
</div>
