<div class="row ">

	<div class="content_modal">
		<h3 style="text-align: center"><span translate="FORM"></span>{{vm.name}}</h3>


		<label class="control-label"><span translate="TO_DOCTOR"></span></label>

		<ui-select ng-model="doctor.selected" ng-change="vm.message.toUser = doctor.selected.id" theme="bootstrap">
			<ui-select-match placeholder="{{'SEARCH_REFS' | translate}}">{{$select.selected.name + '&nbsp (' +
				$select.selected.email + ')'}}
			</ui-select-match>

			<ui-select-choices repeat="doc in (vm.getDoctors($select.search) | filter: $select.search) track by doc.id">
				<div ng-bind="doc.name"></div>
				<small ng-bind="doc.email"></small>
			</ui-select-choices>
		</ui-select>

		<form name="myform" class="notif" action="">
			<textarea rows="6" cols="6" ng-model="vm.message.message" placeholder="{{'MESSAGE_TEXT' | translate}}"
					  rows="5"></textarea>
		</form>


		<button class="pull-right btn btn-primary" ng-click="vm.ok()">Save</button>
		<button style="margin-right:10px ;
margin-bottom: 10px;" class="pull-right btn btn-warning" ng-click="vm.cancel()">Send
		</button>
	</div>
</div>

