<div class="row ">
	<div class="content_modal">

		<p></p>
		<h4>Template:</h4>
		<ui-select ng-model="vm.message.template" theme="bootstrap" close-on-select="true" title="Choose a template" on-select="vm.onSelected($item, $model)">
			<ui-select-match placeholder="Select template...">{{$select.selected.templateDto.name}} &lt;{{$select.selected.templateDto.number}}&gt;</ui-select-match>
			<ui-select-choices repeat="template.templateDto.id as template in vm.myForms">
				<div ng-bind-html="template.templateDto.name | highlight: $select.search"></div>
				<small>Type: {{template.templateDto.typeEnum}}</small>
			</ui-select-choices>
		</ui-select>

		<section ng-if="vm.isMulti">
			<p></p>
			<h4>Patients:</h4>
			<ui-select multiple ng-model="vm.message.patients" theme="bootstrap" close-on-select="true" title="Choose a person">
				<ui-select-match placeholder="Select person...">{{$item.name}} &lt;{{$item.email}}&gt;</ui-select-match>
				<ui-select-choices repeat="person.id as person in vm.patients | filter:{name: $select.search}">
					<div ng-bind-html="person.name | highlight: $select.search"></div>
					<small>email: {{person.email}}</small>
				</ui-select-choices>
			</ui-select>
		</section>

		<form name="myform" class="notif" action="">
			<textarea rows="6" cols="6" ng-model="vm.message.message" placeholder="{{'MESSAGE_TEXT' | translate}}" rows="5"></textarea>
		</form>

		<button style="margin-right:10px;margin-bottom: 10px;"
				class="pull-right btn btn-primary"
				ng-disabled="(vm.message.template==='') || (vm.isMulti && vm.message.patients.length == 0)"
				ng-click="vm.onCreate();"
				translate="CREATE">
		</button>
	</div>
</div>