<div class="row ">

	<div class="content_modal">
		<h3 style="text-align: center"><span translate="FORM"></span>{{vm.name}}</h3>

		<input style="height: 35px" class="col-md-11 col-lg-11 col-sm-10 col-xs-9" type="text"
			   ng-model="patient"
			   placeholder="{{'Search patient ...' | translate}}"
			   uib-typeahead="item as item.all for item in getFind($viewValue,'pat')"
			   typeahead-loading="loadingLocations"
			   typeahead-editable="true"
			   class="form-control"
			   ng-if="!(vm.user.type === 'patient')">

		<input style="height: 35px" class="col-md-11 col-lg-11 col-sm-10 col-xs-9" type="text"
			   ng-model="toUser"
			   placeholder="{{'Search references ...' | translate}}"
			   uib-typeahead="item as item.all for item in getFind($viewValue,'all')"
			   typeahead-loading="loadingLocations"
			   typeahead-editable="true"
			   class="form-control">

		<form name="myform" class="notif" action="">
			<textarea rows="6" cols="6" ng-model="vm.message.message" placeholder="{{'MESSAGE_TEXT' | translate}}" rows="5"></textarea>
		</form>

		<button class="pull-right btn btn-primary" ng-click="vm.save()" ng-if="!(!!vm.model.data.task_id)">Save</button>
		<button style="margin-right:10px;margin-bottom: 10px;" class="pull-right btn btn-warning" ng-click="vm.send()" ng-disabled="(!patient.id && !toUser.id)">Send</button>
	</div>
</div>

