<div class="container">
	<div class="row form-list">
		<div ng-show="vm.myForms.length == 0" class="alert alert-info" role="alert"><h5 class="noData_msg">You dont have
			any forms</h5></div>
		<div ui-sref="main.private.dashboard.abstract.myforms.template" ui-list-view="forms in vm.myForms" options="listOptions">

			<div class=" pull-right btn-group btn-group-xs delete_myForm">
				<button class="btn btn-danger  btn-small"><i class="glyphicon glyphicon-trash"></i></button>
			</div>

			<p class=" col-md-3"><label class="control-label "><span translate="NUMBER"></span>: </label>{{forms.number}}
			</p>

			<p class=" col-md-3"><label class="control-label "><span translate="NAME"></span>: </label>{{forms.name}}
			</p>

			<p class=" col-md-3"><label class="control-label "><span translate="DESCR"></span>: </label>{{forms.descr}}
			</p>

			<p class=" col-md-1"><label class="control-label "><span></span> </label>{{forms.status}}
			</p>
		</div>

	</div>
</div>