<div class="container ">
	<div class="Refs_add">
		<button ui-sref="main.private.dashboard.abstract.references" class="btn btn-primary"><i class="glyphicon glyphicon-arrow-left">&nbsp;</i></button>
		<uib-tabset>

			<!-- FIRST TAB-->
			<uib-tab ng-if="'patient'!==vm.user.type" ng-click="vm.tabPatient()" heading="Patient">
				<form name="userForm" class="elegant-aero" ng-submit="" novalidate>

					<div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
						<label translate="FIRST_NAME"></label>
						<input type="text" name="name" class="form-control" ng-model="vm.referencesDTO.firstName" required>
						<p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
						<label translate="LAST_NAME"></label>
						<input type="text" name="username" class="form-control" ng-model="vm.referencesDTO.lastName" ng-minlength="3" required>
						<p ng-show="userForm.username.$invalid && !userForm.username.$pristine" class="help-block">You Last Name is required.</p>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
						<label translate="EMAIL"></label>
						<input ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,6}$/" type="email" name="email" class="form-control" ng-model="vm.referencesDTO.email"  required>
						<p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
					</div>

					<div class="input-group">
						<label translate="BIRTH_DATE"></label>
						<input name="myInput" type="text" class="form-control"
							   uib-datepicker-popup="{{format}}"
							   ng-model="vm.referencesDTO.dob"
							   is-open="popup1.opened"
							   datepicker-options="dateOptions"
							   ng-required="true"
							   close-text="Close"
							   alt-input-formats="altInputFormats" />
						<span class="input-group-btn" style="padding-top: 5px;">
							<button type="button" class="btn btn-default" ng-click="open1()">
								<i class="glyphicon glyphicon-calendar" style=""></i>
							</button>
						</span>
					</div>

					<button ng-click="vm.onSubmit();" type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid" translate="REGISTRATION"></button>
				</form>
			</uib-tab>

			<!-- SECOND TAB-->
			<uib-tab ng-click="vm.tabDoctor();" heading="Doctor">
				<form name="doctorForm" class="elegant-aero" ng-submit="" novalidate>

					<div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
						<label translate="FIRST_NAME"></label>
						<input type="text" name="name" class="form-control" ng-model="vm.referencesDTO.firstName" required>
						<p ng-show="doctorForm.name.$invalid && !doctorForm.name.$pristine" class="help-block">You name is required.</p>
					</div>
					<div class="form-group" ng-class="{ 'has-error' : doctorForm.username.$invalid && !doctorForm.username.$pristine }">
						<label translate="LAST_NAME"></label>
						<input type="text" name="lastname" class="form-control" ng-model="vm.referencesDTO.lastName" ng-minlength="3" required>
						<p ng-show="doctorForm.lastname.$invalid && !doctorForm.lastname.$pristine" class="help-block">You Last Name is required.</p>

					</div>
					<div class="form-group" ng-class="{ 'has-error' : doctorForm.email.$invalid && !doctorForm.email.$pristine }">
						<label translate="EMAIL"></label>
						<input ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,6}$/" type="email" name="email" class="form-control" ng-model="vm.referencesDTO.email" required>
						<p ng-show="doctorForm.email.$invalid && !doctorForm.email.$pristine" class="help-block">Enter a valid email.</p>
					</div>

					<div class="input-group">
						<label translate="BIRTH_DATE"></label>
						<input type="text" class="form-control"
							   ng-click="open1()"
							   name="myInput"
							   uib-datepicker-popup="{{format}}"
							   ng-model="vm.referencesDTO.dob"
							   is-open="popup1.opened"
							   datepicker-options="dateOptions"
							   ng-required="true"
							   close-text="Close"
							   alt-input-formats="altInputFormats" />
          				<span class="input-group-btn" style="padding-top: 5px;">
	            			<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar" style=""></i></button>
 						</span>
					</div>

					<div class="form-group">
						<label translate="TYPE"></label>

						<ui-select ng-model="vm.referencesDTO.docType"
								   theme="bootstrap"
								   reset-search-input="false"
								   append-to-body="true">
							<ui-select-match  placeholder="Select your type">{{$select.selected.name}}</ui-select-match>
							<ui-select-choices repeat="type.id as type in vm.types track by $index"  required>
								<p>{{type.name}}</p>
							</ui-select-choices>
						</ui-select>

					</div>
					<button ng-click="vm.onSubmit();" type="submit" class="btn btn-primary" ng-disabled="doctorForm.$invalid" translate="REGISTRATION"></button>
				</form>

			</uib-tab>
		</uib-tabset>

	</div>
</div>