<div class="row ">
	<div class="content_modal">
		<p></p>
		<p></p>
		<h4>{{vm.filterTitle}}:</h4>
		<ui-select ng-model="vm.temp_"
				   theme="bootstrap"
				   close-on-select="true"
				   title="Choose a person"
				   on-select="vm.onSelectCallback($item, $model)">
			<ui-select-match placeholder="{{vm.placeholder}}...">{{$select.selected.name}} &lt;{{$select.selected.email}}&gt;</ui-select-match>
			<ui-select-choices refresh="vm.getUsers($select.search)"
							   refresh-delay="1"
							   repeat="person.id as person in vm.users">
				<div ng-bind-html="person.name | highlight: $select.search"></div>
				<small ng-if="vm.refs[0].id !== 'ADD'">email: {{person.email}}</small>
			</ui-select-choices>
		</ui-select>
		<p></p>

		<button class="btn btn-default"	ng-click="vm.onBack();">
			<i class="glyphicon glyphicon-arrow-left">&nbsp;</i>
		</button>

		<p></p>
		<p></p>
	</div>
</div>


