<div class="container">
	<div class="row ui-list-view">

		<uib-tabset>
			<div class="search_criterias pull-right" >
				<label ng-repeat="checkbox in vm.checkboxes">
					<input type="checkbox" data-checklist-model="user.roles" data-checklist-value="role"> {{checkbox}}
				</label>
			</div>
			<uib-tab ng-click="vm.getAllTemplates();" index="0" heading="Main">
				<table class="table table-hover header-fixed1">
					<thead>
						<tr>
							<th translate="NUMBER"></th>
							<th translate="NAME"></th>
							<th translate="DESCR"></th>
							<th translate="STATUS"></th>
						</tr>
					</thead>

					<tbody>
					<tr ng-repeat="form in vm.FormTemplate | filter:vm.filterByCategory" ng-click="vm.onClick(form.id)" ng-class="{'s-row-yellow': form.load}">
						<td>{{form.number}}</td>
						<td>{{form.name}}</td>
						<td>{{form.descr}}</td>
						<td>{{form.commercialEnum}}
							<div class="pull-right btn-group btn-group-xs">
								<button class="btn btn-danger btn-small"
										ng-click="vm.Buy(form.id);form.isPay=true;form.isLoad=true;"
										ng-disabled="form.isPay"
										translate="BUY">
								</button>
								<button class="btn btn-success btn-small"
										ng-click="vm.Load(form.id);form.isLoad=true;"
										translate="LOAD">
								</button>
								<button class="btn btn btn-info btn-small"
										ng-click="vm.View(form.id);"
										translate="VIEW">
								</button>
							</div>
						</td>
					</tr>

					</tbody>
				</table>
			</uib-tab>

			<uib-tab ng-click="vm.getMyTemplates();" index="1" heading="My">
				<div ng-show="vm.myForms.length == 0" class="alert alert-info" role="alert"><h5 class="noData_msg">You	dont have any forms</h5></div>

				<table class="table table-hover header-fixed1">
					<thead>
						<tr>
							<th translate="NUMBER"></th>
							<th translate="NAME"></th>
							<th translate="DESCR"></th>
							<th translate="STATUS"></th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="forms in vm.myForms | filter:vm.filterByCategoryMy" ng-click="vm.onClick(form.id)" >
							<td>{{forms.templateDto.number}}</td>
							<td>{{forms.templateDto.name}}</td>
							<td>{{forms.templateDto.descr}}</td>
							<td>{{forms.type}}
								<div class=" pull-right btn-group btn-group-xs">
									<button class="btn btn-danger  btn-small"
											ng-click="vm.Remove(forms.id);">
										<i class="glyphicon glyphicon-trash"></i>
									</button>
									<button style="float: right"
											class="btn btn-success btn-small"
											ng-click="vm.AddTask(forms);">
										<span translate="LOAD"></span>
									</button>
								</div>
							</td>
						</tr>
					</tbody>

				</table>

			</uib-tab>
		</uib-tabset>
	</div>
</div>