<div class="container">
	<div class="row">
		<div class="search_content">

			<p></p><p></p><h4>Filter patients:</h4>

			<div class="row">
				<p></p>
				<div class="col-md-8 col-sm-8 col-xs-8">
					<form name="xForm">
						<input type="text"
							   style="height: 35px"
							   class="form-control"
							   placeholder="{{'SEARCH_PATS'  | translate}}..."
							   ng-model="vm.search"
							   ng-change="vm.getPatients(vm.search);" />
					</form>
				</div>
				<p></p>
				<div class="col-md-3 col-sm-3 col-xs-3 pull-right">
					<button type="submit" style="margin-rigth:10px; margin-bottom: 10px;" class="btn btn-success" ng-click="vm.onAddPateint();"><i class="glyphicon glyphicon-plus-sign"></i> <span translate="ADD"></span></button>
				</div>
			</div>
			<p></p><p></p>
		</div>

		<div class="ui-list-view ">
			<div class="container ui-list-view">
				<table class="table table-hover">
					<thead>
						<tr>
							<th translate="NAME"></th>
							<th translate="EMAIL"></th>
							<th translate="PHONE"></th>
							<th translate="ACTION"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-click="vm.onOpenPatientsTemplates(patient.id, patient.name, patient.email, patient.phone)"  ng-repeat="patient in vm.patients track by $index">
							<td>{{patient.name}}</td>
							<td>{{patient.email}}</td>
							<td>{{patient.phone}}</td>
							<td>
								<div class="btn-group btn-group-xs">
									<button ng-click="vm.onRemove(patient.id,$event)" class="btn btn-danger">x</button>
									<button ng-if="patient.enabled === false" ng-click="vm.onInvite(patient.id,$event)" class="btn btn-info"><span translate="INVITE"></span></button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div ng-show="vm.patients.length == 0" class="text-center"><h4><span translate="NO_DATA"></span></h4></div>
			</div>
		</div>

	</div>
</div>