* {
	margin: 0;
	padding: 0;
}

html, body, #wrap {
	height: 100%;
	background: none;
}

body > #wrap {
	height: auto;
	min-height: 100%;
}

#main {
	padding-bottom: 150px;
}

#footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	clear: both;
	height: 50px;
	background: cadetblue;
	margin-top: 40px ;
}


.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/* End hide from IE-mac */

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

#header {
	height: 50px;
	background: cadetblue;
	width: 100%;
}

body {
	background: url(../images/bkgd_pattern.png);
}

.login-form {
	width: 350px;
	min-height: 250px;
	margin-left: auto;
	margin-right: auto;
	background: #E2E2E2;
	border-radius: 10px;
	margin-top: 20%;
	border: black 1px solid;
}

.login-form-div {
	padding-top: 30px;
}

.login-button {
	float: right;
	margin-right: 15px;
	background-color: rgb(16, 108, 200);
	color: rgba(255, 255, 255, 0.87);
}

.login-button:hover {
	background-color: rgb(16, 108, 200);
	text-decoration: underline;
}

ul.nav.nav-tabs {
	background: rgb(16, 108, 200);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.reg_form {

	border: black 1px solid;
	border-radius: 10px;
	border-radius: 10px;
	padding: 0px;
	background: #E2E2E2;
	width: 350px;
	margin-top: 20%;
}

.btn_submit {
	margin-bottom: 10px;
}

.Forgot-password {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	background: #E2E2E2;
	margin-top: 20%;
	height: 100px;
	padding-top: 10px;
	border-radius: 10px;
	border: solid 1px
}

.btn-forgot {
	float: right;
}

.login-page-form {
	list-style: none;
	float: left;
	padding-left: 20px;
}

.tabs_control {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.tabs_control li a {
	color: rgba(255, 255, 255, 0.87);;

}

.tabs_control li a:hover {
	text-decoration: none;
	background-color: transparent;
	border-radius: 10px;
}

div.ui-list-view-cell-content {
	background: white;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);

}

.ui-list-view-cell {
	top: 216px;
	margin-left: 10px;
	margin-right: 10px;
	width: 98%;
}

div.ui-list-view-cell-content:hover {
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
	box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}

div.contact-list.ui-list-view.ng-isolate-scope {
	border: solid 1px
}

.form-list p {
	margin-left: 15px;
}

div.form-list.ui-list-view.ng-isolate-scope {
	border-radius: 10px;
}

.ui-list-view {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	min-height: 500px;
	margin-top: 10px;
}

.form-list h3 {
	margin-left: 15px;
	margin-top: 0px;
}

.form-list h4 {
	margin-left: 15px;
}

.tabs_control li a:focus {
	text-decoration: none;
	background-color: red;
	border-radius: 10px;
}

.nav-tabs > li > a {
	color: rgba(255, 255, 255, 0.87);
}

.nav-tabs > li > a:focus {
	background-color: transparent;
	border-radius: 10px;
	text-decoration: underline;
}

.nav-tabs > li > a:hover {
	background-color: #267ED5;
	border-radius: 10px;
}

div.form-list.ui-list-view.ng-isolate-scope {
	background: #d6d6d6;
}

.tabs_control li:focus {
	text-decoration: underline;
}

.form-list span {
	margin-left: 10px;
}

label.checkbox-inline.ng-scope {
	float: right;

	margin-top: 20px;
}

.btn-danger {
	float: right;
	margin-top: 20px;
}
.datepicke md-content {
	padding-bottom: 200px; }
.datepicker .validation-messages {
	font-size: 12px;
	color: #dd2c00;
	margin: 10px 0 0 25px; }
#select_2{
	width: 30%;
}
.edit_form{
	background: white;
}

.pad {
	padding: 10px;
}
