.login-form {
	width: 500px;
	min-height: 200px;
	margin-left: auto;
	margin-right: auto;
	background: #E2E2E2;
	border-radius: 10px;
}

.login-button {
	float: right;
	margin-right: 15px;
	background-color: #259ff3;
}
ul.nav.nav-tabs{
	background: rgb(82, 102, 128);
}
.reg_form{
	border: solid;
	border-color: rgb(82, 102, 128);
	border-radius: 10px;
	padding: 0px
}