<div class="login-form">
	<div class="login-form-div">
		<form ng-submit="vm.onSubmit()" name="vm.form">

			<formly-form model="vm.user" fields="vm.userFields" options="vm.options" form="vm.form">
				<button type="submit" class="btn btn-default login-button submit-button"><span translate="SIGN_IN"></span></button>
				<ul class="login-page-form" >
					<li><a ui-sref="main.public.registration"><span translate="REGISTRATION"></span></a></li>
					<li><a ui-sref="main.public.newpassword"><span translate="FORGOT_PASS"></span></a></li>
				</ul>
			</formly-form>

		</form>

		<!-- Put custom templates here -->
		<script type="text/ng-template" id="error-messages.html">
			<formly-transclude></formly-transclude>
			<div ng-messages="fc.$error" ng-if="form.$submitted || options.formControl.$touched" class="error-messages">
				<div ng-message="{{ ::name }}" ng-repeat="(name, message) in ::options.validation.messages"
					 class="message">{{ message(fc.$viewValue, fc.$modelValue, this)}}
				</div>
			</div>
		</script>
	</div>
</div>