<div class="container-fluid Forgot-password">

<div class="Forgot-password-div">

		<form ng-submit="vm.onSubmit()" name="vm.formNew" novalidate>
			<formly-form model="vm.forgotPass" fields="vm.fieldforemail" form="vm.formNew">
				<button type="submit" class="btn btn-primary btn-forgot submit-button" ng-disabled="vm.formNew.$invalid">Submit</button>
			</formly-form>
		</form>
	<a class="login-page-form" ui-sref="main.public.login"> <i class="glyphicon glyphicon-arrow-left"></i><span translate="BACK_LOGIN"></span></a>
</div>

	<script type="text/ng-template" id="error-messages.html">
		<formly-transclude></formly-transclude>
		<div ng-messages="fc.$error" ng-if="form.$submitted || options.formControl.$touched" class="error-messages">
			<div ng-message="{{ ::name }}" ng-repeat="(name, message) in ::options.validation.messages" class="message">
				{{ message(fc.$viewValue, fc.$modelValue, this)}}
			</div>
		</div>

	</script>

</div>