<div class="container-fluid Forgot-password">

<div class="Forgot-password-div">

		<form ng-submit="vm.onSubmit()" novalidate>
			<formly-form model="vm.forgotPass" fields="vm.fieldforemail" form="vm.form">
				<button type="submit" class="btn btn-primary btn-forgot submit-button">Submit</button>
			</formly-form>
</div>
	<script type="text/ng-template" id="error-messages.html">
		<formly-transclude></formly-transclude>
		<div ng-messages="fc.$error" ng-if="form.$submitted || options.formControl.$touched" class="error-messages">
			<div ng-message="{{ ::name }}" ng-repeat="(name, message) in ::options.validation.messages" class="message">
				{{ message(fc.$viewValue, fc.$modelValue, this)}}
			</div>
		</div>

	</script>

</div>