
<pre>Model: {{vm.reg | json}}</pre>

<div class="container reg_form">
	<div class="col-md6">
		<form ng-submit="vm.onSubmit()" name="vm.form" novalidate>
			<uib-tabset active="vm.active">

				<uib-tab  class="tab-animation" ng-repeat="tab in vm.tabs track by $index" heading="{{tab.title}}" disable="tab.disabled" active="tab.active" select="vm.selTab($index);tab.form.options.resetModel()" ng-click="">
					<formly-form  model="tab.form.model" fields="tab.form.fields" form="vm.form" options="tab.form.options">
						<button type="submit" class="btn btn_submit btn-default login-button submit-button" ng-disabled="">Submit</button>
					</formly-form>
				</uib-tab>

			</uib-tabset>
		</form>
	</div>


</div>
<script type="text/ng-template" id="error-messages.html">
	<formly-transclude></formly-transclude>
	<div ng-messages="fc.$error" ng-if="form.$submitted || options.formControl.$touched" class="error-messages">
		<div ng-message="{{ ::name }}" ng-repeat="(name, message) in ::options.validation.messages" class="message">{{ message(fc.$viewValue, fc.$modelValue, this)}}</div>
	</div>
</script>

